<<<<<<< HEAD
 <h1 id="page_title">hello</h1>

 <div class="skinny_wrapper wrapper_padding">
 	<h1>Thankyou for your message</h1>
 	<p>I will get back to you soon. </p>
 </div>
=======
<h1 id="page_title">Say Hello!</h1>

<div class="skinny_wrapper wrapper_padding">
	<h1>Thank you for your message!</h1>
	<p>I'll get back to you soon.</p>
</div>
>>>>>>> contacts
